{% extends "@SurvosBootstrap/bs5/bootstrap_5_layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{#    <style>#}
{#        body {#}
{#            padding-top: 460px;#}
{#        }#}
{#    </style>#}

{% endblock %}

{% block PAGE_MENU %}
    <!-- {{ _self }} (to be overwritten.) -->
        {{ component('menu', {
            caller: _self,
            wrapperClass: 'fw-bold py-3 mb-4 d-print-none',
            type: PAGE_MENU,
        }) }}

{% endblock %}

{% block body_content %}

    {#  optional fixed-width in config? #}
    {% set containerClass = 'container-fluid' %}
    <div class="d-print-none navbar navbar-expand-lg sticky-top xxfixed-top bg-primary d-print-none " data-bs-theme="dark">
        <div class="{{ containerClass }}">

            {% block brand %}
            <a href="{{ path('homepage'|route_alias) }}" class="navbar-brand">{{ config().app.abbr|raw }}</a>
            {% endblock %}
{#            <a href="#menu">      MM          <span class="navbar-toggler-icon"></span></a>#}
            <button id="navbar-toggle-bundle" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                {% block NAVBAR_MENU %}{{ component('menu', {type: NAVBAR_MENU, caller: _self}) }}{% endblock %}
                {{ component('menu', {type: NAVBAR_MENU2, caller: _self}) }}
                {{ component('menu', {type: NAVBAR_MENU3, caller: _self}) }}
                {{ component('menu', {type: AUTH_MENU, caller: _self}) }}
                {# force this right? #}

{#                {{ include('@SurvosBootstrap/bootswatch/_example_right_navbar.html.twig') }}#}
                {% if config().options.show_locale_dropdown %}
                {{ include('@SurvosBootstrap/_navbar_language_dropdown.html.twig') }}
                {% endif %}

            </div>

            <div>
                {{ component('menu', {type: PROFILE_MENU, caller: _self}) }}

            </div>


        </div>
    </div>

    <div class="{{ containerClass }}">
        {% block page_header %}
        <div class="page-header d-print-none" >
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    {{ block('PAGE_MENU') }}
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <div class="sponsor">
{#                        right side page menu???#}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}


        <main role="main" class="container-fluid mt-4">
            {{ block('flash_messages') }}
{#            <h1 class="mt-5">Sticky footer</h1>#}
{#            <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>#}
{#            <p>Use <a href="../sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p>#}
            {% block body 'overwrite the body...' %}
        </main>

    </div>

{% endblock %}

{% block flash_messages %}
{# read and display several types of flash messages #}
{% for type, messages in app.flashes(['success', 'warning']) %}

    {% for message in messages %}
        <twig:alert :message="message" :type="type" dismissible="true" />
        <div class="flash-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% endblock %}
