{% extends "@SurvosBootstrap/bs5/bootstrap_5_layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{#    <style>#}
{#        body {#}
{#            padding-top: 460px;#}
{#        }#}
{#    </style>#}

{% endblock %}

{% block PAGE_MENU %}
    <!-- {{ _self }} (to be overwritten.) -->
        {{ component('menu', {
            caller: _self,
            wrapperClass: 'fw-bold py-3 mb-4 d-print-none bg-primary',
            type: PAGE_MENU,
        }) }}

{% endblock %}

{% block body_content %}

    {#  optional fixed-width in config? #}
    {% set containerClass = 'container-fluid' %}
    <div class="d-print-none navbar navbar-expand-lg sticky-top xxfixed-top bg-primary d-print-none " id="topbarMenu" data-bs-theme="dark">
        <div class="{{ containerClass }}">

            <div class="d-flex justify-content-between w-100">
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover me-3" id="vertical-hover" onClick="toogleSidebar()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12C15 13.6569 13.6569 15 12 15Z"></path></svg>
            </button>
            {% block brand %}
                {{ 'homepage'|route_alias }}
            <a href="{{ path('homepage'|route_alias) }}" class="navbar-brand">{{ config().app.abbr|raw }}</a>
            {% endblock %}
{#            <a href="#menu">      MM          <span class="navbar-toggler-icon"></span></a>#}
            <div class="d-flex align-items-center gap-3">
                {% if config().options.show_locale_dropdown %}
                <div class="d-inline-block d-lg-none">
                    {{ include('@SurvosBootstrap/_navbar_language_dropdown.html.twig') }}
                </div>
                {% endif %}
                <button id="navbar-toggle-bundle" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse custom-collapse navbar-collapse" id="navbarResponsive">
                {% block NAVBAR_MENU %}{{ component('menu', {type: NAVBAR_MENU, caller: _self}) }}{% endblock %}
                {{ component('menu', {type: NAVBAR_MENU2, caller: _self}) }}
                {{ component('menu', {type: NAVBAR_MENU3, caller: _self}) }}
                {{ component('menu', {type: AUTH_MENU, caller: _self}) }}
                {# force this right? #}

{#                {{ include('@SurvosBootstrap/bootswatch/_example_right_navbar.html.twig') }}#}
                {% if config().options.show_locale_dropdown %}
                    <div class="d-none d-lg-inline-block">
                        {{ include('@SurvosBootstrap/_navbar_language_dropdown.html.twig') }}
                    </div>
                {% endif %}

            </div>
            </div>
            <div>
                {{ component('menu', {type: PROFILE_MENU, caller: _self}) }}
            </div>


        </div>
    </div>

{# sidebar content start #}
    <aside class="navbar navbar-vertical navbar-expand-lg custom-sidebar" data-bs-theme="dark" id="asideSidebar">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand navbar-brand-autodark">
            <a href="{{ path('homepage'|route_alias) }}">
                {# Add Brand Logo Here #}
                <img src="{{ asset('/images/museado-sidebar-logo.png') }} ">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="sidebar-menu">
        {% block SIDEBAR_MENU %}
            {% set options = {
                pixieCode: pixieCode|default(false),
                tableName: tableName|default(false),
                itemKey: item|default(false) ? item.key : null,
            } %}
            <twig:menu :type="SIDEBAR_MENU"
                       wrapperClass=""
                     :caller="_self" :options="options">
            </twig:menu>

        {% endblock %}
            </div>
        </div>
    </aside>
{# sidebar content end #}

    {# When  #}
    <div class="main-wrapper" id="mainWrapper">
    <div class="{{ containerClass }}">
        {% block page_header %}
        <div class="page-header d-print-none" >
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    {{ block('PAGE_MENU') }}
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <div class="sponsor">
{#                        right side page menu???#}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}


        <main role="main" class="container-fluid mt-4">
            {{ block('flash_messages') }}
{#            <h1 class="mt-5">Sticky footer</h1>#}
{#            <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>#}
{#            <p>Use <a href="../sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p>#}
            {% block body 'overwrite the body...' %}
        </main>

    </div>
    </div>

{# script start for sidebar toglle button click #}
<script>
    var menuButton = document.getElementById('vertical-hover');
    var body = document.body;
    body.classList.add('sidebar-open');
    function toogleSidebar() {
        // Toggle the 'active' class on the sidebarWrapper
        body.classList.toggle('sidebar-open');
    }

</script>
{# script end for sidebar toglle button click #}
{% endblock %}

{% block flash_messages %}
{# read and display several types of flash messages #}
{% for type, messages in app.flashes(['success', 'warning']) %}

    {% for message in messages %}
        <twig:alert :message="message" :type="type" dismissible="true" />
        <div class="flash-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% endblock %}
