{#
Use this as your new starter template page, use it to start your new project,
by adding this code to your own base template:

{% extends '@Tabler/layout-horizontal.html.twig' %}

Enjoy your theme!
#}

        {% set isOverlapping = tabler_bundle.isNavbarOverlapping|default(false) %}
        {% set isDarkHeader = tabler_bundle.isHeaderDark()|default(false) %}
        {% set isCondensedNavbar = tabler_bundle.isCondensedNavbar|default(false) %}
        {% set isNavbarDark = tabler_bundle.isNavbarDark|default(false) %}

<!doctype html{% block html_start %}{% endblock %}>
<html lang="{{ app.request.locale }}"{% if tabler_bundle.isRightToLeft|default(false) %} dir="rtl"{% endif %}>
<head>

    {% block head %}
        {# @rk: is this right? #}
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="robots" content="noindex,nofollow">
        {% guard function meta_tags %}
            {{ meta_tags() }}
        {% endguard %}
    {% endblock %}
    <title>{% block title %}{{ block('page_title') }}{% endblock %}</title>
    {% block stylesheets %}
{#        {% if tabler_bundle.isRightToLeft() %}#}
{#            <link rel="stylesheet" href="{{ asset('bundles/tabler/tabler-rtl.css') }}?{{ tabler_asset_version() }}">#}
{#        {% else %}#}
{#            <link rel="stylesheet" href="{{ asset('bundles/tabler/tabler.css') }}?{{ tabler_asset_version() }}">#}
{#        {% endif %}#}
    {% endblock %}
    {# @todo: move to bottom, but need to get defer: true working #}
    {% block javascripts %}
        {#            {{ importmap('app') }}#}
    {% endblock %}

    {% block pwa %}
        <!-- trigger pwa -->
    {% endblock %}
</head>

{% block raw_body %}
<body{% block body_start %}{% endblock %} class="{% block body_class %}{% endblock %}"  data-turbo="false">
{% block after_body_start %}{% endblock %}
<div class="page">

    {# *** Layout type changes *** #}
    {% block header %}
        {{ include('@SurvosBootstrap/components/tabler/header.html.twig') }}
        {% endblock %}


    {% block navbar %}

{#        <div class="collapse custom-collapse navbar-collapse" id="navbarResponsive">#}
    {# div? <nav? #}
        <div class="navbar-expand-md">
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="navbar" data-bs-theme="{{ isNavbarDark ? 'dark' : 'light' }}">
                    <div class="container-xl">
                        <div class="row flex-fill align-items-center">
                            <div class="col">
                                {% block NAVBAR_MENU %}
                            {{ component('menu', {
                                type: NAVBAR_MENU, caller: _self
                            }) }}
                                {% endblock %}
                            {{ component('menu', {type: NAVBAR_MENU3, caller: _self}) }}
                            </div>


                            {# force this right? #}
                            {#                {{ include('@SurvosBootstrap/bootswatch/_example_right_navbar.html.twig') }}#}
                        </div>
                    </div>
                </div>
            </div>
        </div>

{#        {% if not tabler_bundle.isCondensedNavbar() %}#}
{#            <div id="{% block navbar_id %}{% endblock %}" class="navbar-expand-md">#}
{#                <div class="collapse navbar-collapse" id="navbar-menu">#}
{#                    <div class="navbar" data-bs-theme="{{ tabler_bundle.isNavbarDark() ? 'dark' : 'light' }}">#}
{#                        <div class="{{ ''|tabler_container }}">#}
{#                            {% block navbar_menu %}#}
{#                                {% include '@Tabler/includes/menu.html.twig' %}#}
{#                            {% endblock %}#}
{#                            {% block navbar_search %}#}
{#                                {% include '@Tabler/includes/navbar_search.html.twig' %}#}
{#                            {% endblock %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}
    {% endblock %}
    {# *************************** #}

    <div id="{% block page_wrapper_id %}{% endblock %}" class="page-wrapper">
        {% block flashes %}
            {% set map = {
                'success': 'success',
                'error': 'danger',
                'info': 'info',
                'notice': 'info',
                'primary': 'info',
                'warning': 'warning'
            } %}
            {% for flashType, messages in app.flashes %}
                {% for message in messages %}
                    <twig:alert :message="message" :type="map[flashType]|default(flashType) " dismissible="true" />

                {% endfor %}
            {% endfor %}

        {% endblock %}
        {% block page_header %}
            <div class="{{ ''|tabler_container }}">
                {# Page title #}
                <div id="{% block page_header_id %}{% endblock %}" class="page-header d-print-none">
                    <div class="row align-items-center">
                        <div class="col">
                            {% block page_intro %}
                                {% block breadcrumb %}
                                    <div class="page-pretitle">
                                        {% block page_pretitle %}Overview{% endblock %}
                                    </div>
                                {% endblock %}
                                <h2 class="page-title{% if isOverlapping %} text-white{% endif %}">
                                    {% block page_title %}Dashboard{% endblock %}
                                </h2>
                                {% block page_subtitle %}
                                    @page_header
                                    <div class="text-body-secondary mt-1">
                                        1-10 of 100
                                    </div>
                                {% endblock %}
                            {% endblock %}
                        </div>
                        <div class="{% block page_actions_class %}col-12 col-md-auto ms-auto d-print-none{% endblock %}">
                            {% block page_actions %}
                                <div class="btn-list">
                                    <a href="#" class="btn btn-white">
                                        New view
                                    </a>
                                    <a href="#" class="btn btn-primary d-none d-sm-inline-block">
                                        Create new report
                                    </a>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="page-body">
            <div class="{{ ''|tabler_container }}">
                <div class="row row-cards">
                    {% block page_content_before %}{% endblock %}

                    <section id="{% block page_content_id %}{% endblock %}" class="{% block page_content_class %}content{% endblock %}">
                        {% block page_content_start %}
                        {% endblock %}
                        {% block page_content %}{% endblock %}
                        {% block page_content_end %}{% endblock %}
                    </section>

                    {% block page_content_after %}{% endblock %}
                </div>
            </div>
        </div>

        {% block footer %}
            <footer id="{% block footer_id %}{% endblock %}" class="footer border-top py-3 d-print-none">
                <div class="{{ ''|tabler_container }}">
                    {% block FOOTER_MENU %}
                        {{ component('menu', {
                            type: FOOTER_MENU,
                            caller: _self
                        }) }}
                    {% endblock %}
                </div>
            </footer>
        {% endblock %}
    </div>
</div>

</body>
{% endblock raw_body %}
</html>
