{{ app.environment == 'dev' ? _self }}
<div class="pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="text-center mt-5">
                    <h5 class="fs-20">Trusted <span class="text-primary text-decoration-underline">by</span> the world's best</h5>

                    <!-- Swiper -->
                    <div class="swiper trusted-client-slider mt-sm-5 mt-4 mb-sm-5 mb-4" dir="ltr">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="client-images">
                                    <img src="{{ asset('/bundles/survosvelzon/images/clients/amazon.svg') }}" alt="client-img" class="mx-auto img-fluid d-block">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="client-images">
                                    <img src="{{ asset('/bundles/survosvelzon/images/clients/walmart.svg') }}" alt="client-img" class="mx-auto img-fluid d-block">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="client-images">
                                    <img src="{{ asset('/bundles/survosvelzon/images/clients/lenovo.svg') }}" alt="client-img" class="mx-auto img-fluid d-block">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="client-images">
                                    <img src="{{ asset('/bundles/survosvelzon/images/clients/paypal.svg') }}" alt="client-img" class="mx-auto img-fluid d-block">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="client-images">
                                    <img src="{{ asset('/bundles/survosvelzon/images/clients/shopify.svg') }}" alt="client-img" class="mx-auto img-fluid d-block">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="client-images">
                                    <img src="{{ asset('/bundles/survosvelzon/images/clients/verizon.svg') }}" alt="client-img" class="mx-auto img-fluid d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
