<button type="button"
        class="btn {{ size ? 'btn-'~size }}
        btn{{ outline ? '-outline' }}{{ color ? '-' ~ color }} {{ style }}">
    {% if a %}<a href="{{ a.href }}" {{ a.target ? "target=%s"|format(a.target) }}> {% endif %}
    {% if icon %}
            <span class="{{ icon }}"></span>&nbsp;
    {% endif %}
        {{ label }}
        {% block content %}
        {% endblock %}
    {% if a %}
        </a>
    {% endif %}
</button>

