{#  this fires an event, all listeners/subscribers will respond.  use A #}
{#    {% set menuItem = knp_menu_get(menuAlias, path, options) %} #}
{% set theme = theme_option('theme') %}
    {% if type in [SIDEBAR_MENU] %}
        {#        "template"      : "@SurvosBootstrap/knp_sidebar_menu.html.twig", #}
        {% if wrapperClass|default(false) %}<div class="{{ wrapperClass }}">{% endif %}
        {{ knp_menu_render(menuItem, {
            "template"      : "@SurvosBootstrap/knp_sidebar_menu.html.twig",
            "debug": debug|default(false),
            currentAsLink: true,
            firstClass: 'first',
            currentClass  : "active",
            "listAttributes": {
                "class": "menu-inner py-1",
            } ,
            "ancestorClass" : "nav-item dropdown",
            "branch_class"  : "menu-item nav-item dropdown ",
            'leaf_class'    : 'nav-item',
            'link_class'    : 'nav-link',
            "allow_safe_labels": true,

            'comment': "This is an custom option passed in knp_menu_render. Only used by our custom renderer.",
            rootAttributes: {
                class: 'navbar-nav pt-lg-3',
                role: 'menu'
            },
        }) }}
        {% if wrapperClass|default(false) %}</div>{% endif %}

    {% elseif type in [FOOTER_MENU] %}
        {% set menu = knp_menu_get(menuItem) %}
        {% if menu.children|length %}
            {% if wrapperClass|default(false) %}<div class="{{ wrapperClass }}">{% endif %}

            {{ knp_menu_render(menuItem, {
                template: '@SurvosBootstrap/knp_top_menu.html.twig',
                leaf_class: "list-group-item footer-link me-4",
                rootAttributes: {
                    class:"nav navbar-nav nav-justify-end list-group list-group-horizontal dropup"
                },

                "ancestorClass" : "nav-item dropdown m-4",
                "branch_class"  : "menu-item nav-item dropdown ",
                'leaf_class'    : 'nav-item mb-4 bg-danger',
                'link_class'    : 'nav-link m-4',
                "allow_safe_labels": true,

                style: 'footer',
                allow_safe_labels: true,
                something_else: 'test render!!'
            }) }}
            {% if wrapperClass|default(false) %}</div>{% endif %}
        {% endif %}


    {% elseif type in ['top_auth', AUTH_MENU, PROFILE_MENU] %}
        {% set menuHtml = knp_menu_render(menuItem, {
            rootAttributes: {
                class:"nav nav-justify-end list-group list-group-horizontal dropdown d-print-none"
            },
            template: '@SurvosBootstrap/knp_top_menu.html.twig',
            style: 'auth'}) %}
        {{ menuHtml|raw }}

    {% elseif type in [PAGE_MENU] %}
        @@{{ type }}
        {% set menuHtml = knp_menu_render(menuItem, {
            allow_safe_labels: true,
            rootAttributes: {
                class:"nav nav-justify-end mt-0 list-group list-group-horizontal d-print-none sub-navbar collapse collapseExamplePageNav show",
            },
            leaf_class: 'dropdown-item',
            currentClass  : "current ",
            template: '@SurvosBootstrap/knp_top_menu.html.twig',
            style: 'navbar'}) %}
        {# ugh, the classes here are pure hacks until rk can make sense of menu rendering #}
        {% if wrapperClass|default(false) %}<div class="{{ wrapperClass }}">{% endif %}
        <div class="pageNavMenu mt-4">
            <button class="navbar-toggler pageMenu" id="pageMenu" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExamplePageNav" aria-expanded="false" aria-controls="collapseExamplePageNav">
                {{ ux_icon('bi:list-ul') }}
            </button>
            {{ menuHtml|raw }}

        </div>
        {% if wrapperClass|default(false) %}</div>{% endif %}

    {% elseif type in ['top_navbar', 'top_page', NAVBAR_MENU, NAVBAR_MENU2, NAVBAR_MENU3] %}
        {% set menu = knp_menu_get(menuItem) %}
        {% if menu.children|length %}
            {% if wrapperClass|default(false) %}<div class="{{ wrapperClass }}">{% endif %}
            {% if theme == 'tabler' %}
                {{ knp_menu_render(menuItem, {
                    allow_safe_labels: true,
                    rootAttributes: {
                        class:"navbar-nav me-auto mb-lg-0 m-4 list-group-horizontal d-print-none"
                    },
                    currentClass  : "active",
                    template: '@SurvosBootstrap/tabler/tabler_top_menu.html.twig',
                    style: 'navbar'}) }}

                {% else %}
            {{ knp_menu_render(menuItem, {
                allow_safe_labels: true,
                rootAttributes: {
                    class:"navbar-nav me-auto mb-lg-0 list-group-horizontal d-print-none"
                },
                currentClass  : "active",
                template: '@SurvosBootstrap/knp_top_menu.html.twig',
                style: 'navbar'}) }}
                    {% endif %}

            {% if wrapperClass|default(false) %}</div>{% endif %}
        {% endif %}
    {% else %}
        <div class="text-danger">Invalid menu type: {{ type }}</div>
    {% endif %}
{#    { #}
{#    debug: app.request.get('debug', false), #}
{#    menuItem: menuItem, #}
{#    project: project, #}
{#    title: project.code #}
{#    } #}
<script>

document.addEventListener('DOMContentLoaded', function() {
  // Get references to the elements
  var pageMenu = document.getElementById('pageMenu');
  var collapseExamplePageNav = document.querySelector('.collapseExamplePageNav');

  // Add click event listener to the pageMenu
  pageMenu.addEventListener('click', function() {
    // Toggle the 'show' class on the collapseExamplePageNav element
    collapseExamplePageNav.classList.toggle('show');
  });
});

</script>
