<h3>{{ _self }}</h3>

<ul class="nav nav-tabs" role="tablist">
    {% for tab in tabs %}
        {% set active = loop.first ? 'active' %}
        <li class="nav-item" role="presentation">
            <a class="nav-link {{ active }}" data-bs-toggle="tab" href="#{{ tab.label }}"
               aria-selected="true" role="tab">{{ tab.label }}</a>
        </li>
    {% endfor %}
</ul>
<div id="myTabContent" class="tab-content">
    {% for tab in tabs %}
    {% set active = loop.first ? 'active' %}
    <div class="tab-pane fade show {{ active }}" id="{{ tab.label }}" role="tabpanel">
        <p>{{ tab.content|raw }}</p>
    </div>
    {% endfor %}
</div>
